version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: business-dashboard-postgres
    environment:
      POSTGRES_DB: business_dashboard
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: UTC
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
